th, td {
    padding: 15px;
    text-align: left;
  }
  .table-content table th, .table-content table td {
    border-bottom: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}
div {
    display: block;
}

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-content table {
    background: #fff none repeat scroll 0 0;
    border-color: #c1c1c1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
}
.table-content table th {
    border-top: medium none;
    padding: 4vh 3vw;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 550;
    font-size: 3vh;
}
.buttons-cart a {
    background: #ebebeb none repeat scroll 0 0;
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    font-weight: 500;
    height: 10vh;
    line-height: 11vh;
    padding: 0  1vw;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.3s;
}
.row {
    align-items: center;
    display: flex;
}
.buttons-cart a:hover{
    background-color:black;
    color: white !important;
}
.table-content table td.product-thumbnail {
    width: 130px;
}